   body{
    background: radial-gradient(circle at 5.3% 17.2%, rgb(255, 208, 253) 0%, rgb(255, 237, 216) 90%);
   }
   h1{
        text-align: center;
        font-family: "Comfortaa", sans-serif;
        background-image: radial-gradient(circle at 10% 20%, rgb(178, 178, 212) 0%, rgb(253, 222, 249) 79.5%);
        color: transparent;
        -webkit-background-clip: text;
        font-weight: 800;
    }
    .container{
        max-width:600px;
        margin:60px auto;
        background-color: #fff;
        padding:30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
    }
    .time{
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 48px;
        background-image: radial-gradient(circle at 10% 20%, rgb(178, 178, 212) 0%, rgb(253, 222, 249) 79.5%);
        color: transparent;
        -webkit-background-clip: text;
    }
    small{
        font-size: 16px;
        vertical-align: middle;
    }
    .goBack{
        padding:5px;
        border-radius: 5px;
        text-decoration: none;
        color:#000;
        background:radial-gradient(circle at 5.3% 17.2%, rgb(255, 208, 253) 0%, rgb(255, 237, 216) 90%);
        font-family: "Raleway", sans-serif;
        font-size: 14px;
    }
    h2{
        margin:0 0 5px;
        font-size: 28px;
    }
    .date{
        opacity: 0.7;
    }
    .city{
        font-family: "Raleway", sans-serif;
        display: flex;
        justify-content: space-between;
        margin:10px 0;
        border-bottom: 1px dashed rgba(0,0,0,0.2);
        padding:30px 0;
    }
    .city:last-child{
        border:none;
    }
    select{
        display: block;
        width:100%;
        padding:10px;
        border-radius: 6px;
        font-family: "Comfortaa", sans-serif;
        font-size: 18px;
        background: linear-gradient(109.6deg, rgb(255, 221, 225) 11.2%, rgb(255, 255, 255) 92.2%);
        border: 2px solid #FFF2F4;
    }
    select:active{
        outline:none

    }
    select:focus-visible{
        outline:none
    }
    option{
        font-size: 16px;
        font-family: "Raleway", sans-serif;


    }
    footer{
        text-align: center;
        font-family: "Comfortaa", sans-serif;
        font-size: 16px;
        color: rgba(110, 19, 146, 0.5);
    }
    .name{
        font-weight: 700;
        font-family: "Raleway", sans-serif;
    }
    .link{
        font-weight: 700;
        font-family: "Raleway", sans-serif;
    }